.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
  }
  
  header {
    margin-bottom: 20px; 
  }
  
  .main {
    width: 100%;
    max-width: 600px; 
  }
  
  .search-input {
    width: 100%;
    max-width: 300px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .book-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .book-card img {
    border-radius: 5px; 
  }
  